:root {
  --primary-color: #212121;
  --title-color: #212121;
  --text-color: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: 100%;
}

body {
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1280px;
}

body, input, button {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

h4{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.btn-primary {
  width: 100%;
  height: 40px;
  max-width: 176px;
  background: var(--primary-color);
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: 0;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-primary img {
  height: 20px;
  animation:spin 2s linear infinite;
}

.btn-primary.btn-white {
  color: var(--primary-color);
  background-color: #FFF;
  border: 1px solid var(--primary-color);
}


.btn-primary.btn-white:hover {
  background-color: #FFF;
  opacity: .3;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.btn-primary:hover {
  background: #4a4a4a;
}